<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ishaaq.cliniqueue">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/hospitalicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BookingConfirmationActivity" />
        <activity android:name=".ClientDetailsActivity" />
        <activity android:name=".ClientRequestsActivity"/>
        <activity android:name=".ClinicsFilterActivity"/>
        <activity android:name=".ClinicsListActivity"/>
        <activity android:name=".ClinicEnterWaitTimeActivity"/>
        <activity android:name=".ContactClinicActivity"/>
        <activity android:name=".CreateAccountAdminActivity"/>
        <activity android:name=".CreateAccountUserActivity">
            <intent-filter>
                <action android:name="com.example.ishaaq.cliniqueue" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ExtraDetailsActivity"/>
        <activity android:name=".HomepageActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginAdminActivity"/>
        <activity
            android:name=".Map"
            android:label="@string/title_activity_map" />
        <activity android:name=".PatientLoginActivity"/>
        <activity android:name=".ReasonForVisitActivity"/>
        <activity android:name=".ShowAppointmentsActivity"/>
        <activity android:name=".waitingForConfirmationActivity"/>
        <activity android:name=".MyGlobalVariables"/>
        <activity android:name=".notification" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBF-VwfDysulHt6GaaWDHrcL0X4hu_yec0" />
    </application>

</manifest>